<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="recso2011DBEntities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=recso2011DB;Persist Security Info=True;User ID=recsoapp;Password=2011bascula;Asynchronous Processing=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>